<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">

    <title>Mercado Liebre</title>

</head>

<body>

    <header>

        <div class="banner">

            <div>

                <a href="/"><img src="/img/logo-mercado-liebre.svg" width="200px"></a>

                <div class="searchbar">
                    <input type="text" placeholder="Buscar productos, marca y mas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>

            <p class="compra">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>

        </div>

        <nav class="menu">

            <ul class="site-navbar">
                <li><a href="#Ofertas">Ofertas</a></li>
                <li><a href="#Tiendas oficiales">Tiendas oficiales</a></li>
                <li><a href="#Vender">Vender</a></li>
                <li><a href="#Ayuda">Ayuda</a></li>
            </ul>

            <ul class="login-navbar">
                <li><a href="/form">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>

        <form action="/" method="get" class="form">

            <div class="control-form">
                <input type="text" name="nombre" placeholder="Nombre y apellido" class="control" required>
            </div>

            <div class="control-form">
                <input type="text" name="username" placeholder="Nombre de usuario" class="control" required>
            </div>

            <div class="control-form">
                <input type="email" name="email" placeholder="E-mail" class="control" required>
            </div>

            <div class="control-form">
                <label>Fecha de nacimiento</label>
                <input type="date" name="birthday" value="dd/mm/yyyy" class="control" required>
            </div>

            <div class="control-form">
                <input type="text" name="domicilio" placeholder="Domicilio" class="control" required>
            </div>

            <div class="control-form">
                <label>Perfil de usuario</label>
                <div class="perfil">
                    <input type="radio" name="Perfil" value="Comprador">Comprador</input>
                    <input type="radio" name="Perfil" value="Vendedor">Vendedor</input>
                </div>
            </div>

            <div class="control-form">
                <label>Intereses</label>

                <input type="checkbox" name="Intereses" value="Electro" class="intereses">Electro</input>
                <br>
                <input type="checkbox" name="Intereses" value="Moda" class="intereses">Moda</input>
                <br>
                <input type="checkbox" name="Intereses" value="Hogar" class="intereses">Hogar</input>
                <br>
                <input type="checkbox" name="Intereses" value="Jugeteria" class="intereses">Jugeteria</input>
                <br>
                <input type="checkbox" name="Intereses" value="Vida-sana" class="intereses">Vida Sana</input>

            </div>

            <div class="control-form">
                <label>Foto de usuario</label>
                <input type="file" name="avatar" accept=".jpg, .png" class="control">
            </div>

            <div class="control-form">
                <input type="password" placeholder="Contraseña" id="password" class="control" required>
            </div>

            <div class="control-form">
                <input type="password" placeholder="Confirmar contraseña" id="confirm_password" class="control"
                    required>
            </div>

            <div class="boton-formulario">
                <button type="reset">Borrar</button>
                <button type="submit">Enviar</button>
            </div>

        </form>

    </main>

    <footer>
        <section class="main-footer">

            <section>
                <i class="fa-solid fa-credit-card"></i>
                <p class="title">Pagá con tarjeta o en efectivo</p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section>
                <i class="fa-solid fa-gift"></i>
                <p class="title">Envío gratis desde $ 2.500</p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section>
                <i class="fa-solid fa-user-shield"></i>
                <p class="title">Seguridad, de principio a fin</p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>

        </section>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>


</html>